.form__fieldset {
    border: 1px solid hsla(39, 50%, 65%, 0.733);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.form__legend {
    background-color: hsla(39, 50%, 65%, 0.915);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.form__labelText {
    display: inline-block;
    margin-right: 5px;
    max-width: 140px;
    width: 100%
}

.form__field {
    border: 1px solid hsla(39, 50%, 65%, 0.733);
    border-radius: 5px;
    padding: 5px;
    max-width: 200px;
    width: 100%;
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsla(39, 50%, 65%, 0.915);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsla(39, 50%, 65%, 0.815)
}

.form__button:active {
    background-color: hsla(39, 50%, 65%, 0.703)
}